<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/polo360.css">
</head>

<body>
    <div class="header">
        <img src="../images/logo.jpg" id="image1">
        <div class="list">
            <ul>
                <li class="content"><b>HOME</b> hai</li>
                <li class="content"><b>PRODUCTS</b> hello</li>
                <li class="content"><b>SERVICES</b> hai</li>
                <li class="content"><b>BLOG</b> hello</li>
                <li class="content"><b>CONTACT</b> hai</li>
            </ul>
        </div>
    </div>
    <div class="image2">
        <img src="../images/img.png" id="image2">
    </div>
    <div class="content">
        <p class="desc"><b>Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra</b></p>
    </div>
    <hr style="border-color:gray;margin:0px 0px 0px 94px;width:1100px;border-width: 2px">
    <div class="boximages">
        <div class="block1">
            <h1 style="color:blue">Perfect Logic</h1>
            <img src="../images/img2.png" class="image11">
            <p class="desc1">Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra </p>
            <button id="learnmore">
                LearnMore
            </button>
        </div>
        <div class="block1">
            <h1 style="color:blue">Uber Culture</h1>
            <img src="../images/img1.png" class="image11">
            <p class="desc1">
                Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverraLorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.
            </p>
            <button id="learnmore">
                LearnMore
            </button>
        </div>
        <div class="block1">
            <h1 style="color:blue">Complete Solution</h1>
            <img src="../images/img3.png" class="image11">
            <p class="desc1">
                Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverraLorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.
            </p>
            <button id="learnmore">
                LearnMore
            </button>
        </div>
    </div>
    <hr style="border-color:gray;margin:0px 0px 0px 84px;width:1100px;border-width: 2px">
    <div class="boximages">
        <div class="block2">
            <h1>Social Connection</h1>
            <hr style="border-color:lightsgray;margin-left:5px;width:260px;border-width: 2px">
            <p class="desc1">
                Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.</p>
            <img src="../images/fb.png" id="image22">
            <img src="../images/lin.png" id="image22">
            <img src="../images/y5.png" id="image22">
            <img src="../images/you.png" id="image22">
            <img src="../images/twt.png" id="image22">
            <h3>NewsConnection</h3>
            <hr style="border-color:lightgray;margin-left:5px;width:260px;border-width: 2px">
            <p class="desc1">
                Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.</p>
            <input type="text" placeholder="Enter something" style="width: 320px">
            <button id="learnmore1">
                LearnMore
            </button>
        </div>
        <div class="block2">
            <h1>Contact</h1>
            <hr style="border-color:lightgray;margin-left:5px;width:260px;border-width: 2px">
            <div class="input11">
                <input type="text" placeholder="Enter message" id="input1">
            </div>
            <div class="input11">
                <input type="text" placeholder="Enter name" id="input1">
            </div>
            <div class="input11">
                <textarea rows="10" cols="45" placeholder="Message"></textarea>
            </div>
            <button id="learnmore1">
                LearnMore
            </button>
        </div>
        <div class="block2">
            <h1>News Updates</h1>
            <hr style="border-color:lightgray;margin-left:5px;width:260px;border-width: 2px">
            <div class="block3">
                <img src="../images/chrome.png" id="image33">
                <p class="desc2">
                    Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.
                </p>
                <hr style="border-color:lightgray;margin-left:5px;width:350px;border-width: 2px">
            </div>
            <div class="block3">
                <img src="../images/afrch.png" id="image33">
                <p class="desc2">
                    Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.
                </p>
                <hr style="border-color:lightgray;margin-left:5px;width:350px;border-width: 2px">
            </div>
            <div class="block3">
                <img src="../images/lyr.png" id="image33">
                <p class="desc2">
                    Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.
                </p>
                <hr style="border-color:lightgray;margin-left:5px;width:350px;border-width: 2px">
            </div>
            <button id="learnmore1">
                LearnMore
            </button>
        </div>
    </div>
    <div class="footer">
        <div class="block4">
        <p>Lorem ipsum dolor sit amet.consectetur adipiscing elit.Aenean euismod bibendum laroeet.Proin gravida dolor sit.amet lacus accumsan et viverra.</p>

        </div>
        <div class="block5">
        <p>Copywright of POLO360</p>
        </div>
    </div>
</body>

</html>